<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= code %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">  
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div ></div>
    <nav class="navbar  navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" aria-current="page" href="/">Home</a>
            <a class="nav-link" href="/about">About</a>
            <a class="nav-link" href="/r/compro">ComPro</a>
            <a class="nav-link" href="/r/msd">MSD</a>
            <a class="nav-link" href="/r/ayurveda">Ayurveda</a>
            <a class="nav-link" href="#">Pricing</a>
            <a class="nav-link disabled" aria-disabled="true">Disabled</a>
          </div>
        </div>
      </div>
    </nav>
    <h1><%= code %></h1>
    <h3><%= description %></h3>
    <h4><%= students %> Students</h4>

    <p><b><%= code %> </b></p>
    <p><%= about %> <hr></p>
    <% for(const quote of quotes) {%>
    <article>
      <p>id: <%= quote.id %></p>
      <p><%= quote.quote %> <b><i> - <%= (quote.author)? quote.author : "Someone said" %></i></b></p>
      <hr />
    </article>
    <% } %>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
      distinctio atque eum veritatis sint dignissimos, incidunt excepturi ipsa
      totam aut. Ut eveniet voluptatum delectus dolorem ratione dolorum minima
      fuga quae.
    </p>
  </body>
</html>
