<%- include("./partials/head") %>
  
  <%- include("partials/navbar")%>  
  </div class= "container">
    <h1><%= code %></h1>
    <h3><%= description %></h3>
    <h4><%= students %> Students</h4>

    <p><b><%= code %> </b></p>
    <p><%= about %> <hr></p>
    <% for(const quote of quotes) {%>
    <article>
      <p>id: <%= quote.id %></p>
      <p><%= quote.quote %> <b><i> - <%= (quote.author)? quote.author : "Someone said" %></i></b></p>
      <hr />
    </article>
    <% } %>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt
      distinctio atque eum veritatis sint dignissimos, incidunt excepturi ipsa
      totam aut. Ut eveniet voluptatum delectus dolorem ratione dolorum minima
      fuga quae.
    </p>
  </div>

<%- include("partials/footer") %>